*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

html{
    min-height: 100%;
}

body{
    background: radial-gradient(circle, rgba(82,160,212,1) 0%, rgba(105,222,204,1) 62%, rgba(96,240,196,1) 90%);
}

table {
    table-layout: fixed;
    width: 85%;
    border-collapse: collapse;
    border: 2px solid black;
}


tr,td{
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

.pages{
        display: flex;
        justify-content: center;
        gap: 30px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 18px;
}

.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input, select{
    width: 165px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    background-color: white;
}

select{
    width: 173px;
    background-color: white;
    cursor: pointer;
}

select:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button{
    width: 100px;
    height: 27px;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    transition: 0.2s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

p{
    padding: 0px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

button:hover{
    background-color: black;
    color: white;
}

a{
    font-size: 16px;
    text-decoration: none;   
    transition: 0.2s;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    background-color: black;
    color: white;   
}

.warning{
    color: red;
    font-size: 12px;
}